{% extends 'app.html.twig' %}



{% block content %}

        <div class="row">
           <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Sign up
                    </div>
                    <div class="panel-body">
                        {% include 'flash.twig' %} 
                        <form action="{{ path_for('auth.signup') }}" method="post" autocomplete="off">
                           <div class="form-group {{error.email ? ' has-error' : ''}}">
                             <label for="email">Email:</label>
                             <input type="email" name="email" id="email" placeholder="you@smtin.com" class="form-control"
                             value ="{{old.email}}">
                             {% if errors.email %}
                              <span class="help-block">{{ errors.email | first }}</span>
                             {% endif %}
                           </div>

                           <div class="form-group{{ error.username ? ' has-error' : ''}}">
                             <label for="username">Name:</label>
                             <input type="type" name="username" id="username" class="form-control"
                             value ="{{old.username}}">
                             {% if errors.username %}
                             <span class="help-block">{{ errors.username | first }}</span>
                            {% endif %}
                            </div>

                           <div class="form-group{{ error.password ? ' has-error' : ''}}">
                             <label for="password">Password:</label>
                             <input type="password" name="password" id="password" class="form-control">
                             {% if errors.password %}
                             <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                            </div>
                           <button type="submit" class="btn btn-dark">Sign up</button>
                       

                           {{ csrf.field |raw }}
                        </form>

                    </div>
                </div>
           </div>
        </div>

{% endblock %}